#Environment variables
.env

#Virtual environments
.venv

#Python cache
__pycache__/


#UV
.python-version

#GCP Keys
Keys

#pytest
.pytest_cache

#airflow
airflow/logs
airflow/plugins
airflow/src

#src
src/transform.py

#terraform
terraform/.terraform.lock.hcl
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform.tfvars